<h2>Registration</h2>
<p>You can be registered for visit here</p>

<form action="/visit" method="POST" rules="form" >
  <div class="form-group">
    <label>Your name:</label>
    <input name="username" type="text" class="form-control" placeholder="Enter you name">
  </div>
  <div class="form-group">
    <label>Your phone:</label>
    <input name="phone" type="text" class="form-control" placeholder="Enter you phone">
  </div>
  <div class="form-group">
    <label>When you`ll come?</label>
    <input name="datetime" type="text" class="form-control" placeholder="Enter date and time">
  </div>

  <button type="submit" class="btn btn-primary">Submit</button>
</form>

<div>
  <%= @title %>
  <%= @message %>
</div>
